# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Base de données
*.db
*.sqlite3

# Uploads et cartes générées
static/uploads/*
!static/uploads/.gitkeep
cards/*
!cards/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Flask
instance/
.webassets-cache

# Logs
*.log
